.vscode/**
.vscode-test/**
sample-workspace/**
test-workspace/**
webview-ui/**
docs/**
tmp_index.html
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
